/* -------------------------------------- *
General Styles
* --------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

header{
  border: 1px solid black;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  height: 200px;
  background-position: center center;
}
h1,
h2,
h3 {
  font-size: 36px;
  font-family: 'Staatliches', impact, sans-serif;
}
main,
header h1,
nav div {
  width: 85%;
  margin: auto;
}
header {
  padding: 40px 0;
}
nav a {
  padding-right: 20px;
}
nav a:hover {
  color: #333;
}
nav {
  background-color: #ccc;
  padding: 12px;
}
.inspiroimg {
  Width: 400px;
}

.threecol {
  display: flex;
}

.threecol article{
  flex:1;
  padding: 10px;
}

.threecol .description {
  flex-grow: 2;
}